<!-- modals Grid Section -->
    <section id="{{ site.data.modals.anchor }}" class="modals bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.modals.heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.modals.subheading }}</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 modals-item">
                    <a href="#{{ post.title | slugify }}" class="modals-link" data-toggle="modal">
                        <div class="modals-hover">
                            <div class="modals-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        {% if post.image.thumb %}
                            {% picture thumb {{ post.image.thumb }} class="img-responsive" alt="{{ post.image.thumbalt }}" %}
                        {% else %}
                            {% picture thumb {{ site.data.modals.defaultimage }} class="img-responsive" alt="" %}
                        {% endif %}
                    </a>
                    <div class="modals-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="section-subheading text-muted">{{ site.data.modals.subtext }}</p>
                </div>
            </div>
        </div>
    </section>