<!-- About Section -->
    <section id="{{ site.data.resources.anchor }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.resources.heading }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.resources.subheading }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                    {% for resource in site.data.resources.items %}
                        <li{% cycle '', ' class="timeline-inverted"' %}>
                            <a href="{{ resource.link }}"><span class="div-link"></span></a>
                            <div class="timeline-image">
                                {% assign image = site.data.resources.defaultimage %}
                                {% if resource.image %}
                                {% assign image = resource.image %}
                                {% endif %}
                                {% picture resource {{ image }} class="img-circle img-responsive" alt="{{ resource.title }}" %}
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ resource.title }}</h4>
                                    {% if resource.subtitle %}
                                    <h4 class="subheading">{{ resource.subtitle }}</h4>
                                    {% endif %}
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ resource.text }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let's
                                    <br />Get
                                    <br />Started!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>