<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include actionitems.html %}
    {% include modals_grid.html %}
    {% include resources.html %}
    {% include contact.html %}
    {% include about.html %}
    {% include footer.html %}
    {% include modals.html %}

    <!-- build:js(src) /assets/js/plugins.min.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- JS -->
    <!-- build:js(src) /assets/js/main.min.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->

    </body>
</html>