<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}

    <!-- bower:js -->
    <!-- build:js /assets/js/plugins.min.js -->
    <!-- endbuild -->
    <!-- endbower -->

    <!-- JS -->
    <!-- build:js /assets/js/main.min.js -->
    <script src="/assets/js/contact_me.js"></script>
    <script src="/assets/js/agency.js"></script>
    <!-- endbuild -->

    </body>
</html>