---
layout: default
---
{% include topnav.html %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ page.title }}</h1>
                <hr class="star-primary" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
            {{ content }}
            </div>
            <!--
            {% if page.image.thumb %}
            <div class="col-md-3 col-md-offset-1">
                <ul class="timeline"><li>
                    <div class="timeline-image">
                        {% picture resource {{ page.image.thumb }} class="img-circle img-responsive" alt="{{ page.title }}" %}
                    </div>
                </li></ul><hr class="star-primary" />
            </div>
            {% endif %}
            -->
        </div>
    </div>
</div>
