---
layout: default
---
{% include topnav.html %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal-body">
                    <h1>{{ page.title }}</h1>
                    <hr class="star-primary" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="modal-body">
                    {{ content }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="modal-body">
                    {% if page.contactinfo %}
                    <p><a href="mailto:{{ page.contactinfo }}" class="btn btn-primary btn-lg btn-block" role="button"><i class="fa fa-envelope"></i> Contact Group</a></p>
                    {% endif %}
                    {% if page.image.main %}<p>
                        {% picture main {{ page.image.main }} class="img-responsive img-centered" alt="{{ page.image.mainalt }}" %}</p>
                    {% endif %}

                    {% if page.organizers %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Community Organizers</h3>
                        </div>
                        <div class="panel-body">
                        {% for organizer in page.organizers %}
                        <ul class="list-unstyled item-details">
                            <li><strong>{{ organizer.name }}</strong></li>
                            <li><i class="fa fa-envelope"></i><strong>{{ organizer.contact }}</strong>
                            </li>
                        </ul>
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if page.tags %}
                    <div class="panel panel-default">
                    <div class="panel-heading">
                            <h3 class="panel-title">Tags</h3>
                        </div>
                    <div class="list-group">

                    {% for tag in page.tags %}
                      <a href="{{ tag }}" class="list-group-item">{{ tag }}</a>
                    {% endfor %}
                    </div></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>