---
layout: default
---
{% include topnav.html %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <hr class="star-primary" />
                {{ content }}
            </div>
            <div class="col-lg-4">
                {% if page.image.main %}
                <div class="panel panel-default text-center">
                    {% picture thumb {{ page.image.main }} class="img-responsive img-centered" %}
                </div>
                {% endif %}
                {% if page.infocontact %}
                    {% if page.infocontact contains '@' %}
                        {% capture infocontact %}mailto:{{ page.infocontact }}{% endcapture %}
                    {% else %}
                        {% assign infocontact = page.infocontact %}
                    {% endif %}
                    <p><a href="{{ infocontact }}" class="btn btn-primary btn-lg btn-block" role="button"><i class="fa fa-envelope"></i> Contact</a></p>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Meeting Information</h3>
                    </div>
                    <div class="panel-body">
                    {% if page.members %}<p><strong>Members:</strong> {{ page.members }}</p>{% endif %}
                    {% if page.meeting-style.inperson or page.meeting-style.remote %}
                        <p><strong>Meeting Style:</strong></p>
                        <ul>{% if page.meeting-style.inperson %}<li>In Person</li>{% endif %}{% if page.meeting-style.remote %}<li>Remote</li>{% endif %}</ul>
                    {% endif %}
                    {% if page.meeting-style.frequency %}
                        <p><strong>Frequency:</strong> {{ page.meeting-style.frequency }}</p>
                    {% endif %}
                    </div>
                </div>
                {% if page.organizers.size > 0 %}
                    {% for organizer in page.organizers %}
                        {% if organizer.okname or organizer.okemail %}
                            {% assign can_we_display = "yes" %}
                        {% endif %}
                    {% endfor %}
                    {% if can_we_display == "yes" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Community Organizers</h3>
                        </div>
                        <div class="panel-body">
                        {% for organizer in page.organizers %}
                        <ul class="list-unstyled item-details">
                        {% if organizer.okname or organizer.okemail %}
                            {% if organizer.okname == false %}
                                {% assign contact_display = organizer.contact %}
                            {% else %}
                                {% assign contact_display = organizer.name %}
                            {% endif %}
                            <li>{% if organizer.okemail %}<a href="mailto:{{ organizer.contact }}"><i class="fa fa-envelope"></i> {% endif %}<strong>{{ contact_display }}</strong>{% if organizer.okemail %}</a>{% endif %}{% if organizer.detail %}, {{ organizer.detail }}{% endif %} {% if organizer.isPrimary %}*{% endif %}</li>
                        {% endif %}
                        </ul>
                        {% endfor %}
                        <p class="small muted">* primary contact</p>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% if page.tags.size > 0 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3>
                    </div>
                    <div class="list-group">
                    {% for tag in page.tags %}
                        <a href="#" class="list-group-item">{{ tag }}</a>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
